@model ASP.NET_Udemy.Models.Usuario

@{
    ViewBag.Title = "Usuario";
}

<h2>Validação de Usuario</h2>
<br />
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Dados</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacoes)
        </div>

        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observacoes)
            @Html.ValidationMessageFor(model => model.Observacoes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Idade)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Idade)
            @Html.ValidationMessageFor(model => model.Idade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>

        <div class="editor-field">
            @Html.PasswordFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmaraSenha)
        </div>

        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmaraSenha)
            @Html.ValidationMessageFor(model => model.ConfirmaraSenha)
        </div>

        <input type="submit" value="Cadastrar" />

    </fieldset>
    
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval");
    }

}
